.text-center{
    text-align: center;
    color: aliceblue;
    
}

/* .background-red{
    background-color: red;
} */
.mx-auto{
    margin: auto;
}

.flex {
  display: flex;
}

.flex-col{
   flex-direction: column;
}
.item-center{
    align-items: center;
}
.box{
    border: solid 2px black;
    width: 400px;
    background-color: black;
    border-radius: 55px;
    
}
.zero{
    width: 142px;
}
.orange{
 background-color:  #136207;
 font: bold;
}
